.nav_list{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    min-height: 65vh;
}

.nav_item{
    display: block;
    min-width: 100%;
}

.nav_link{
    text-align: center;
    text-decoration: none;
    color: rgb(5, 103, 214);
    font-size: larger;
    font-weight: bold;
    padding: 1.5rem 1.5rem 1rem 1rem;
}
.nav_item--active{
    background-color: rgb(255, 255, 255);;
}
.nav_link--active{
    color: rgb(0, 0, 0);
}
.nav_link:hover{
    color: black;
}
/*-------------------------------------------------------*/
.principal{
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 15px;
}
.secs{
    border: 4px solid black;
    border-radius: 10px;
    min-width: 100%;
    padding: 30px;
}
.secs:hover{
    background-color: beige;
}
.secs_paragrafo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secs_paragrafo--main{
    text-align: center;
}